<div class="">
	<nav class="navbar navbar-dark navbar-fixed-top bg-gray bg-faded">
		<div class="collapse navbar-toggleable-xs container" id="navbar-header">
			<a class="navbar-brand" [routerLink]="['/Home']">Zup Dribbble - Desafio</a>
			<div class="pull-xs-right">
                <a class="btn btn-primary-outline" target="_blank" href="https://br.linkedin.com/in/yan-tadeu-46182468">Yan Tadeu</a>
            </div>
		</div>
	</nav>
	<router-outlet></router-outlet>
</div>