<div class="container">
  <div class="media shot_header" *ngIf="post">
     <div align="right">
    <a href="javascript:history.go(-1);" class="btn btn-info"><i class="fa fa-arrow-left"></i> Voltar</a>
  </div>
    <div class="pull-left">
      <img class="media-object" src="{{post.user.avatar_url}}" >
    </div>
    <div class="media-body">
      <h1>&nbsp;{{post.title}}</h1>
      <span class="muted">&nbsp; por</span>
      <a href="#/players/{{post.user.username}}">
        {{post.user.name}}
      </a>
      | 
      {{post.created_at}}
    </div>
  </div>
  
  <div class="row" *ngIf="post">
    <div class="col-md-9">
      <img class="shot_image" src="{{post.images.hidpi}}">
    </div>
  
    <div class="col-md-3" *ngIf="post">
        <ul class="list-group">
          <li class="list-group-item">
            <i class="fa fa-thumbs-o-up"></i>
            <span class="label label-default label-pill pull-xs-right">{{post.likes_count}}</span>
            Likes
          </li>
          <li class="list-group-item">
            <i class="fa fa-eye"></i>
            <span class="label label-default label-pill pull-xs-right">{{post.views_count}}</span>
            Views
          </li>
          <li class="list-group-item">
            <i class="fa fa-share"></i>
            <span class="label label-default label-pill pull-xs-right">{{post.rebounds_count}}</span>
            Rebounds
          </li>
          <li class="list-group-item">
            <i class="fa fa-comment"></i>
            <span class="label label-default label-pill pull-xs-right">{{post.comments_count}}</span>
            Comentários
          </li>
          <li class="list-group-item">
            <a href="{{post.html_url}}">
              <i class="fa fa-globe"></i>
              Link para o Dribbble
              
            </a>
          </li>
        </ul>
    </div>
  </div>
</div>

