body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
}

.navbar {
  margin-bottom: 0;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #eceeef;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 31.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  margin-right: 10px;
  border: 0;
  box-shadow: 1px 1px 6px 0 #C6C4C4;
  cursor: pointer;
}

.card img {
  margin-bottom: .75rem;
  max-width: 100%;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.black-gray{
  color: rgba(47,47,47,0.98) !important;
}

.bg-gray {
    color: #727272!important;
    background-color: rgba(47,47,47,0.98) !important;
}

.media {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}